@charset "utf-8";
body{
	background-color: #1a2233;
}
.headtop {
	height: 0.83rem;
	line-height: 0.83rem;
	border-bottom: 1px solid #465574;
	padding: 0 0.50rem;
}
.headtop > b {
	font-size: 0.48rem;
	color: #fff;
}
.headtop > div > div {
	margin: 0 0.10rem;
}
.headtop1 {
	display: inline-block;
	width: 24px;
	height: 25px;
	background: url(../img/headtop1.png) no-repeat center center;
}
.headtop2 {
	display: inline-block;
	width: 24px;
	height: 25px;
	background: url(../img/headtop2.png) no-repeat center center;
}
.out-btn {
	width: 0.87rem;
	height: 0.26rem;
	line-height: 0.26rem;
	background-color: #172339;
	border: 1px solid #26375a;
	font-size: 0.12rem;
	color: #9cafd5;
	text-align: center;
	border-radius:0.13rem;
	cursor: pointer;
}
/* 内容 */
.main {
	padding: 45px;
}
.bg {
	background-color: #20293d;
	padding: 0.35rem;
	border-radius: 0.04rem;
	box-shadow: 0 0 8px 8px rgba(26,34,51,.3);
}
.tit {
	font-size: 0.16rem;
	color: #fff;
	margin-bottom: 0.55rem;
}
.tit i {
	display: inline-block;
	width: 0.20rem;
	height: 0.20rem;
	border: 1px solid #31b9ff;
	border-radius: 0.10rem;
	text-align: center;
	line-height: 0.18rem;
	margin-right: 0.08rem;
}
.tit b {
	display: inline-block;
	width: 0.10rem;
	height: 0.10rem;
	background-color: #31b9ff;
	border-radius: 5px;
}
.con {
	background-color: #192031;
	border-radius: 4px;
	padding: 0.35rem;
	margin-left: 0.20rem;
}
.search-input {
	height: 0.42rem;
	border: 1px solid #395796;
	background-color: #151f34;
	margin: 0 10px;
	border-radius: 20px;
	padding: 0 10px;
}
.search-input i {
	font-size: 0.20rem;
	font-weight: bold;
	color: #31b9ff;
}
.search-input input {
	flex: 1 1 auto;
	height: 100%;
	outline: none;
	color: #fff;
	border: none;
	background-color: transparent;
}
.btn {
	border: 1px solid #4f628e;
	background-color: #141b2b;
	font-size: 14px;
	color: #fff;
	border-radius: 4px;
	padding: 0.10rem 0.15rem;
	cursor: pointer;
	margin: 0 10px;
	text-align: center;
	min-width: 1.20rem;
	transition: background-color .3s linear;
}
.btn.blue{
	background-color: #335193;
}
.btn:hover{
	background-color: #1097dd;
}
.btns b{
	font-size: 0.25rem;
	font-weight: normal;
	cursor: pointer;
	transition: color .3s linear;
}
.btns b:hover{
	color: #19a2e8;
}
.step .el-step__title.is-success {
	color: #c6cee1;
}
.step .el-step__title.is-process {
	font-weight: normal;
	color: #c6cee1;
}
.step .el-step__head.is-success {
	color: #12a2ed;
	border-color: #12a2ed;
}
.step .el-step.is-horizontal .el-step__line {
	height: 4px;
	top: 9px;
}
.step .el-step__line-inner {
	border-width: 2px!important;
}
.subtitle {
	font-size: 0.18rem;
	color: #31b9ff;
	font-weight: normal;
	margin-bottom: 0.60rem;
}
.input-bg {
	border: 1px solid #4f628e;
	border-radius: 4px;
	background-color: transparent;
	min-height: 0.40rem;
	resize: none;
	color: #fff;
	font-size: 0.14rem;
	width: 100%;
}
.input-box {
	padding: 15px 0 ;
}
.input-box > input,.input-box > textarea{
	flex: 1 1 auto;
}
.input-box > span {
	display: block;
	width: 1.05rem;
	min-width: 0.85rem;
	text-align: right;
	margin-right: 0.15rem;
}
.box-bg{
	border: 1px solid #4f628e;
	border-radius: 4px;
}
.asset-stat{
	margin-bottom: 0.30rem;
}
.asset-stat > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 0.66rem;
	width: 23%;
	padding: 0 0.65rem 0 0.35rem;
	color: #c6cee1;
}
.asset-stat > div b{
	font-size: 0.36rem;
	color: #0ed1fb;
}
.asset-stat-chart > div {
	height: 3.30rem;
	width: 23%;
	padding: 0.20rem;
}
.company-stat {
	margin-bottom: 0.40rem;
}
.company-stat > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 18%;
	height: 0.66rem;
	padding: 0 0.35rem 0 0.25rem;
	color: #c6cee1;
}
.company-stat > div b{
	font-size: 0.24rem;
	color: #fff;
}
.table-btn {
	color: #c6cee1;
	border-radius: 4px ;
	background-color: #1b2336;
	border: 1px solid #32477a;
	padding: 3px 10px;
	cursor: pointer;
	transition: background-color .3s linear;
}
.table-btn:hover{
	background-color: #344d86;
}
.area-stat {
	margin-bottom: 0.60rem;
}
.area-stat > div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 30%;
	height: 0.66rem;
	padding: 0 0.65rem 0 0.35rem;
	color: #c6cee1;
}
.area-stat > .box-bg {
	border: none;
	border-radius: 0;
	background-color: #192134;
}
.area-stat > div b{
	font-size: 0.24rem;
	color: #fff;
}
.risk-chart > div {
	height: 3.30rem;
	width: 23%;
	padding: 0.20rem;
}
.step-asset > div{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 15%;
	height: 0.66rem;
	padding: 0 0.10rem 0 0.05rem;
	color: #c6cee1;
}
.step-asset > div b{
	font-size: 0.36rem;
	color: #0ed1fb;
}
.iv-icon {
	display: inline-block;
	width: 26px;
	height: 27px;
	vertical-align: middle;
	margin-right: 5px;
}
.create1 {
	background: url(../img/create1.png) no-repeat center center;
}
.create2 {
	background: url(../img/create2.png) no-repeat center center;
}
.create3 {
	background: url(../img/create3.png) no-repeat center center;
}
.create4 {
	background: url(../img/create4.png) no-repeat center center;
}
.operation-type {
	margin-bottom: 0.40rem;
}
.operation-type > div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48%;
	height: 1.50rem;
	font-size: 0.24rem;
	cursor: pointer;
	position: relative;
	background-color: #151b2c;
	color: #566992;
	border: none;
	transition: all .3s linear; 
}
.operation-type > div:hover ,.operation-type > div.box-bg{
	color: #fff;
	border:1px solid #4f628e;
}
.operation-type > div:hover:before,.operation-type > div.box-bg:before{
	content: "";
	display: block;
	width: 39px;
	height: 23px;
	background: url(../img/addtype.png) no-repeat center center;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.operation-type > div i {
	display: block;
	width: 75px;
	height: 78px;
	margin-right: 30px;
	transition: all .3s linear; 
}
.create5_un {
	background: url(../img/create5_un.png) no-repeat center center;
}
.operation-type > div:hover i.create5_un,.operation-type > div.box-bg i.create5_un {
	background: url(../img/create5.png) no-repeat center center;
}
.create6_un {
	background: url(../img/create6_un.png) no-repeat center center;
}
.operation-type > div:hover i.create6_un,.operation-type > div.box-bg i.create6_un {
	background: url(../img/create6.png) no-repeat center center;
}
.addasset {
	padding: 0.25rem;
	background-color: #151b2c;
}
/* 饿了吗改造 */
.el-select {
	width: 100%;
}
.el-dialog {
	background-color: #151b2c;
	border: 1px solid #4f628e;
	border-radius: 8px;
}
.el-dialog__title{
	font-size: 18px;
	color: #31b9ff;
	font-weight: bold;
}
.el-dialog__headerbtn .el-dialog__close{
	font-size:25px;
	color: #7180aa;
	font-weight: bold;
}
.el-dialog__body {
	color: #fff;
}
.el-input__inner{
	background-color:#151f34;
	border-color: #395796;
	color: #8099cc;
}
.el-input__inner {
	color: #fff;
}
/* 饿了吗改造 */
.shadow-inset {
	box-shadow: 0 0 0.35rem 0px rgba(62,105,212,.56) inset;
	border: 1px solid #33446a;
	height: 0.71rem;
}
.area-number {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 0.25rem;
	font-size: 0.14rem;
	color: #c6cee1;
}
.area-number b {
	display: inline-block;
	margin-left: 0.20rem;
	font-size: 0.18rem;
	color: #fff;
}
.step1{
	background: url(../img/step1.png) no-repeat center center;
}
.step2{
	background: url(../img/step2.png) no-repeat center center;
}
.step3{
	background: url(../img/step3.png) no-repeat center center;
}
.probe {
	width: 2.50rem;
	padding: 0 0.20rem;
	margin: 0 0.20rem;
}
.area-box {
	background-color: #151b2c;
	padding: 0.25rem;
}
.table-input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 0.14rem;
	color: #fff;
	padding: 0 5px;
}
.plan-box {
	padding: 0 0.20rem;
}
.plan-box > li{
	width: 32%;
	background-color: #171e2f;
	height: 0.64rem;
	line-height: 0.64rem;
	text-align: center;
	color: #c6cee1;
	cursor: pointer;
	border: 1px solid #192132;
	transition: background-color .3s linear;
	margin-bottom: 20px;
}
.plan-box > li:hover{
	background-color: #335193;
}
.plan-info {
	margin-bottom: 0.20rem;
}
.plan-info > div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 18%;
	height: 0.66rem;
	padding: 0 0.35rem;
	color: #c6cee1;
}
.plan-info > div b{
	font-size: 0.24rem;
	color: #fff;
}